include ../scale/scale

mixin slider()
	+b.slider&attributes(attributes)
		+e('input').input(
			id="slider"
			type="text"
			data-min="0"
			data-max="300"
			data-from="146"
			data-hide-min-max="true"
			data-hide-from-to="true"
		)
		+scale
